<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <link href="/static/materializ.css" rel="stylesheet" />
</head>

<body>

    <div style="text-align: center; align-items: center;">
        <div style="width: 50%; border: 3px solid green; border-radius: 10px; margin-left: 100px; margin-top: 50px;">
            <a  href="/auth/login/google">
                <img src="https://img.icons8.com/bubbles/100/000000/google-logo.png">
            
            </a>
        </div>
            
        
    </div>

    <main>
        <div class="container-fluid">
            <div class="row">
                <div class="col s12"></div>
                <div class="col s12 m4 center"></div>
            </div>
        </div>
    </main>

</body>
</html>